{% extends 'base.html' %}
{% load static crispy_forms_tags %}
{% crispy form form.helper %}

{% block content %}

<div class="jumbotron">
	<h2 class=" text-center">Newsletter List</h2>
</div>
<div class="container">
	<center>
		<a href="{% url 'control_newsletter' %}">Type a new Newsletter</a>
		<hr>
		<ol>
			{% for item in items %}
				<li>ID: {{ item.id }}.	<a href="{% url 'newsletter_detail' item.id %}">{{ item.subject }}</a> - {{ item.status }}	|	<a href="{% url 'newsletter_edit' item.id %}">Edit</a> - <a href="{% url 'newsletter_delete' item.id %}">Delete</a>
				</li>
			{% endfor %}
		</ol>
		<hr>
		{# include 'pagination.html' #}
	</center>
</div>

{% endblock content %}

{% block extra_js %}

	{% if subscribed_successfully %}
	  <script type="text/javascript">
	          Swal.fire({
	            title: 'Subscribed Successfully.',
	            icon: 'success',
	            timer: 3500,
	            footer: '<strong><a href="{% url 'account_login' %}" rel="nofollow">Login here</a></strong>',
	            confirmButtonText: 'OK'
	          });
	  </script>
	{% elif email_already_exists %}
	  <script type="text/javascript">
	          Swal.fire({
	            title: 'Sorry, that email already exists.',
	            icon: 'warning',
	            timer: 4500,
	            footer: '<strong><a href="{% url 'account_login' %}" rel="nofollow">Login here</a></strong>',
	            confirmButtonText: 'OK'
	          });
	  </script>
	{% endif %}

{% endblock extra_js %}