{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="jumbotron">
	<h2 class=" text-center">Unsubscribe our Newsletter</h2>
</div>
<div class="container">
	<form class="text-center" method="POST" action="{% url 'newsletter_unsubscribe' %}">{% csrf_token %}
		<div class="input-group">
			{{ form.as_p }}
			<span class="input-group-btn mx-4">
				<button class="btn btn-secondary" type="submit">Unsubscribe</button>
			</span>
		</div>
	</form>
</div>

{% endblock content %}

{% block extra_js %}

	{% if unsubscribed %}
	  <script type="text/javascript">
	          Swal.fire({
	            title: 'Unsubscribed Successfully.',
	            icon: 'success',
	            timer: 3500,
	            footer: '<strong><a href="{% url 'account_login' %}" rel="nofollow">Login here</a></strong>',
	            confirmButtonText: 'OK'
	          });
	  </script>
	{% elif not_subscribed %}
	  <script type="text/javascript">
	          Swal.fire({
	            title: 'You are not subscribed with that email.',
	            icon: 'info',
	            timer: 3500,
	            footer: '<strong><a href="{% url 'account_login' %}" rel="nofollow">Login here</a></strong>',
	            confirmButtonText: 'OK'
	          });
	  </script>
	{% endif %}

{% endblock extra_js %}