{% extends "account/base.html" %}

{% load i18n static account socialaccount %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block bodyclass %}class="hold-transition login-page"{% endblock bodyclass %}

{% block content %}
<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary" style="border-top: 3px solid #000; border-bottom: 3px solid #000;">
    <div class="card-header text-center bg-info">
      <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
    </div>
    <div class="card-body">
          {% if messages %}
            <div class="alert alert-light">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true" class="text-black"><strong>&times;</strong></span>
              </button><br>
              <strong>Messages:</strong>
              <ul class="errorlist">
                {% for message in messages %}
                <li>{{message}}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="text-secondary">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="New password" name="password1" autofocus autocomplete="new-password" required id="id_password1">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Repeat new password" name="password2" required id="id_password2">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
                <input type="submit" name="action" class="btn btn-block btn-outline-success" value="{% trans 'change password' %}"/>
                <a href="/" class="btn btn-block btn-outline-danger mb-3">{% trans "Cansel" %}</a>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
</div>
</div>
</div>

{% endblock %}
