{% extends "account/base.html" %}

{% load i18n static account socialaccount %}

{% block head_title %}{% trans "Changed Password" %}{% endblock %}

{% block bodyclass %}class="hold-transition login-page"{% endblock bodyclass %}

{% block content %}
<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary" style="border-top: 3px solid #000; border-bottom: 3px solid #000;">
    <div class="card-header text-center bg-info">
    <h1>{% trans "Changed Password" %}</h1>
    </div>
    <div class="card-body">
    <p class="text-secondary">{% trans 'Your password is now changed.' %}</p>
    <hr>
    <a href="/">{% trans "Done" %}.</a>
</div>
</div>
</div>
{% endblock %}
