{% extends "account/base.html" %}

{% load i18n static account socialaccount %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block bodyclass %}class="hold-transition login-page"{% endblock bodyclass %}

{% block content %}
<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary" style="border-top: 3px solid #000; border-bottom: 3px solid #000;">
    <div class="card-header text-center bg-info">
      <h1>{% trans "Change Password" %}</h1>
    </div>
    <div class="card-body">
          {% if messages %}
            <div class="alert alert-light">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true" class="text-black"><strong>&times;</strong></span>
              </button><br>
              <strong>Messages:</strong>
              <ul class="errorlist">
                {% for message in messages %}
                <li>{{message}}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-block btn-outline-success mb-3" name="action">{% trans "Change Password" %}</button>
        <a href="/" class="btn btn-block btn-outline-danger mb-3">{% trans "Cancel" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
  </div>
</div>
</div>
{% endblock %}
